<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Eazy School - Best Educational Institute for your Child</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <!--    <link rel="stylesheet" href="assets/css/style-starter.css">-->
    <!--  // 95, ex23: @PathVariable: sonst kann css bei @PathVariables nicht richtig angezeigt werden!!! -->
    <link href="/assets/css/style-starter.css" rel="stylesheet">
</head>

<body>

<!-- header -->
<div th:replace="~{template :: header}">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Contact Us</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Contact Us</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<!-- contact block -->
<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Get In Touch</p>
            <h3 class="title-style">Contact Us</h3>
        </div>
        <div class="row contact-block">
            <div class="col-md-7 contact-right">
                <!-- 3) 99, ex24: Bean validation: zeige (zum Schluss) falsche Validations an -->
                <ul>
                    <li class="alert alert-danger" role="alert"
                        th:each="error : ${#fields.errors('contact.*')}" th:text="${error}"></li>
                </ul>
                <!-- 1) 99, ex24: Bean validation: establish link between backend bean (pojo Contact) and frontend form -->
                <form class="signin-form" method="post" th:action="@{/saveMsg}" th:object="${contact}">
                    <!-- 115, ex28: disable csrf-->
                    <!-- <form action="/saveMsg" method="post" class="signin-form" th:object="${contact}">-->
                    <div class="input-grids">
                        <div class="row">
                            <div class="col-sm-6">
                                <!--  95, ex23: @PathVariable (th:value >> kann wegen th:field nicht mehr benutzt werden (macht aber keine fehler)
                                >> th:field ist sowieso besser, weil nur ein object Contact übertragen wird-->
                                <!-- 2) 99, ex24: Bean validation: th:field; link between backend bean (pojo Contact) and frontend form) -->
                                <input class="contact-input" placeholder="Your Name" th:field="*{name}"
                                       th:value="${name2}"
                                       type="text" />
                            </div>
                            <div class="col-sm-6">
                                <!--  99, ex24: Bean validation (th:field) -->
                                <input class="contact-input" placeholder="Your Mobile Number" th:field="*{mobileNum}"
                                       type="text" />
                            </div>
                        </div>
                        <!--  99, ex24: Bean validation (th:field) -->
                        <!--  95, ex23: @PathVariable (th:value)-->
                        <input class="contact-input" placeholder="Your Email" th:field="*{email}" type="text" />
                        <!--  99, ex24: Bean validation (th:field) -->
                        <input class="contact-input" placeholder="Subject" th:field="*{subject}" type="text" />
                    </div>
                    <div class="form-input">
                        <!--  99, ex24: Bean validation (th:field) -->
                        <textarea placeholder="Type your message here" th:field="*{message}"></textarea>
                    </div>
                    <div class="text-start">
                        <button class="btn btn-style btn-style-3">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5 ps-lg-5 mt-md-0 mt-5">
                <div class="contact-left">
                    <div class="cont-details">
                        <div class="d-flex contact-grid">
                            <div class="cont-left text-center me-3">
                                <i class="fas fa-building"></i>
                            </div>
                            <div class="cont-right">
                                <h6>School Address</h6>
                                <p>Eazy School, 10001, 5th Avenue, #06 lane street, NY - 10017.</p>
                            </div>
                        </div>
                        <div class="d-flex contact-grid mt-4 pt-lg-2">
                            <div class="cont-left text-center me-3">
                                <i class="fas fa-phone-alt"></i>
                            </div>
                            <div class="cont-right">
                                <h6>Call Us</h6>
                                <p><a href="tel:+1(21) 234 4567">+1(21) 673 4587</a></p>
                            </div>
                        </div>
                        <div class="d-flex contact-grid mt-4 pt-lg-2">
                            <div class="cont-left text-center me-3">
                                <i class="fas fa-envelope-open-text"></i>
                            </div>
                            <div class="cont-right">
                                <h6>Email Us</h6>
                                <p><a class="mail" href="mailto:info@eazyschool.com">info@eazyschool.com</a></p>
                            </div>
                        </div>
                        <div class="d-flex contact-grid mt-4 pt-lg-2">
                            <div class="cont-left text-center me-3">
                                <i class="fas fa-headphones-alt"></i>
                            </div>
                            <div class="cont-right">
                                <h6>Customer Support</h6>
                                <p><a class="mail" href="support@eazyschool.com">support@eazyschool.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- map -->
<div class="map">
    <iframe
            allowfullscreen=""
            frameborder="0" height="400"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830921454!2d-74.11976369744556!3d40.69766374856529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1639587930884!5m2!1sen!2sin"
            style="border: 0px;" width="100%"></iframe>
</div>
<!-- //contact block -->

<!-- footer block -->
<div th:replace="~{template :: footer_and_scripts}">...</div>
<!-- //footer block -->
</body>

</html>