<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<!--suppress HtmlUnknownTag -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Emulator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<!-- import header.html-->
<div th:replace="~{template :: header}"></div>
<!-- //import header.html-->

<!-- content -->
<section class="services-w3l-block py-5">
    <div class="container">
        <h1>Error Events</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Subsystem</th>
                <th>Current</th>
                <th>New</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event : ${errorEvents}">
                <form method="post" th:action="@{/send-event}">
                    <td th:text="${event.subsystem}">Subsystem</td>
                    <td th:text="${event.error}">Current Error</td>
                    <td>
                        <label>
                            <select th:name="newValue">
                                <option th:each="type : ${errorTypesMap[event.subsystem]}"
                                        th:selected="${type == event.error}"
                                        th:text="${type.name()}"
                                        th:value="${type.name()}">Type
                                </option>
                            </select>
                        </label>
                    </td>
                    <td>
                        <input th:name="subsystem" th:value="${event.subsystem.name()}" type="hidden" />
                        <input th:name="currentValue" th:value="${event.error}" type="hidden" />
                        <button class="btn btn-primary" type="submit">Send Event</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- //content -->

<!-- import scripts.html-->
<div th:replace="~{template :: footer_and_scripts}"></div>
<!-- //import scripts.html-->

</body>

</html>