<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Log Viewer</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&amp;display=swap" rel="stylesheet">
    <!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <link href="/assets/css/style-starter.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{template :: header}"></div>

<section class="services-w3l-block py-5">
    <div class="container">
        <h1>Event Logs</h1>
        <table class="table">
            <tr>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Subsystem</th>
                <th>Topic</th>
            </tr>
            <!--suppress HtmlUnknownTag, HtmlUnknownAttribute -->
            <tr th:each="logEntry : ${logEntries}"
                th:data-event="${logEntry.getEvent()}"
                th:data-request="${logEntry.getRequest()}"
                th:data-result="${logEntry.getResult()}"
                th:data-timestamp="${logEntry.timestamp}"
                th:onclick="showEventDetails(this)">
                <td th:text="${logEntry.thymeleafTimestamp}">Timestamp</td>
                <td th:text="${logEntry.type}">Type</td>
                <td th:text="${logEntry.subsystem}">Subsystem</td>
                <td th:text="${logEntry.topic}">Topic</td>
            </tr>
        </table>

        <!-- Modal für Event-Details -->
        <div id="eventDetailsModal" style="display:none; border: 1px solid black; padding: 10px;">
            <h2>Message</h2>
            <p id="eventDetails"></p>
            <button onclick="closeModal()">Close</button>
        </div>

        <script>
            function showEventDetails(row) {
                // only 1 is not null
                const event = row.getAttribute("data-event");
                const request = row.getAttribute("data-request");
                const result = row.getAttribute("data-result");
                const deviceMessage = [event, request, result].filter(value => value !== null).pop();

                const timestamp = new Date(row.getAttribute("data-timestamp"));
                const options = {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    fractionalSecondDigits: 2 // millis
                };
                const formattedTimestamp = timestamp.toLocaleString('de-DE', options);

                const message = `${formattedTimestamp}: ${deviceMessage}`;

                document.getElementById("eventDetails").innerText = message;
                document.getElementById("eventDetailsModal").style.display = "block";
            }

            function closeModal() {
                document.getElementById("eventDetailsModal").style.display = "none";
            }
        </script>
    </div>

</section>

<!-- check every 2s for new command entries -->
<script src="/assets/js/logPolling.js"></script>

</body>
</html>