<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Emulator</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{template :: header}"></div>

<section class="services-w3l-block py-5">
    <div class="container">
        <h2>Event and Command Logs</h2>
        <table class="table">
            <tr>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Subsystem</th>
                <th>Topic</th>
                <th>Sent?</th>
            </tr>
            <!--suppress HtmlUnknownTag, HtmlUnknownAttribute -->
            <tr th:each="logEntry : ${logEntries}"
                th:data-event="${logEntry.getEvent()}"
                th:data-request="${logEntry.getRequest()}"
                th:data-result="${logEntry.getResult()}"
                th:data-timestamp="${logEntry.timestamp}"
                th:data-type="${logEntry.type}"
                th:onclick="showEventDetails(this)">
                <td th:text="${logEntry.thymeleafTimestamp}">Timestamp</td>
                <td th:text="${logEntry.type}">Type</td>
                <td th:text="${logEntry.subsystem}">Subsystem</td>
                <td th:text="${logEntry.topic}">Topic</td>
                <td>
                    <div>
                        <span th:if="${logEntry.sent}">
                            <!-- green tick -->
                            <i class="bi bi-check" style="color: green;"></i>
                        </span>
                        <span th:if="${!logEntry.sent}">
                            <!-- red crossKreuz -->
                            <i class="bi bi-x" style="color: red;"></i>
                        </span>
                    </div>
                </td>
            </tr>
        </table>

        <!-- Modal for event-details -->
        <div id="eventDetailsModal" style="display:none; border: 1px solid black; padding: 10px;">
            <h2>Message</h2>
            <p id="eventDetails"></p>
            <button onclick="closeModal()">Close</button>
        </div>

        <script>
            function showEventDetails(row) {
                const type = row.getAttribute("data-type");
                const event = row.getAttribute("data-event");
                const request = row.getAttribute("data-request");
                const result = row.getAttribute("data-result");


                const timestamp = new Date(row.getAttribute("data-timestamp"));
                const options = {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    fractionalSecondDigits: 3 // millis
                };
                const formattedTimestamp = timestamp.toLocaleString('de-DE', options);

                let message;
                if (type === "EVENT") {
                    message = `${formattedTimestamp}:\n${event}`;
                } else if (type === "COMMAND") {
                    message = `${formattedTimestamp}:\n${request}\n${result}`;
                } else if (type === "REQUEST") {
                    message = `${formattedTimestamp}:\n${request}`;
                } else {
                    message = null;
                }

                document.getElementById("eventDetails").innerText = message;
                document.getElementById("eventDetailsModal").style.display = "block";
            }

            function closeModal() {
                document.getElementById("eventDetailsModal").style.display = "none";
            }
        </script>
    </div>

</section>

<!-- check every 2s for new command entries -->
<!--suppress HtmlUnknownTarget -->
<script src="/assets/js/logPolling.js"></script>

<div th:replace="~{template :: footer_and_scripts}"></div>
</body>
</html>