<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<!--suppress HtmlUnknownTag -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Client</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        h2,h3,h4 {
            margin-top: 40px;
        }
    </style>
</head>

<body>
<div th:replace="~{template :: header}">...</div>

<section class="services-w3l-block py-5">
    <h1>Service Client</h1>
    <h4>Devices</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Subsystem</th>
            <th>Device</th>
            <th>New</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>FLUIDICS</td>
            <td>Gel Pump</td>
            <form method="post" th:action="@{/service_client/sendGelPumpModeCommand2}">
                <td>
                    <label>
                        <input name="isOn" th:checked="${fluidicsStatus.gelPumpOn ? 'checked' : null}"
                               type="radio" value="true"> On
                    </label>
                    <label>
                        <input name="isOn" th:checked="${!fluidicsStatus.gelPumpOn ? 'checked' : null}"
                               type="radio" value="false"> Off
                    </label>
                </td>
                <td>
                    <button class="btn btn-primary" type="submit">Send</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>

    <h4>Current States</h4>
    <div th:fragment="eventsTable">
        <div>
            <span>Connection to device established: </span>
            <span th:if="${isConnected}">
                <!-- green tick -->
                <i class="bi bi-check" style="color: green;"></i>
            </span>
            <span th:if="${!isConnected}">
                <!-- red cross -->
                <i class="bi bi-x" style="color: red;"></i>
            </span>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Subsystem</th>
                <th>Topic</th>
                <th>Current State</th>
            </tr>
            </thead>
            <tbody id="events">
            <tr th:each="entry : ${fluidicsStatus.entries}">
                <td th:text="${entry.subsystem}"></td>
                <td th:text="${entry.topic}"></td>
                <td th:text="${entry.currentState}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="services-w3l-block py-5">
    <div>
        <h2>WebSocket Test</h2>
        <form method="post" th:action="@{/service_client/test}">
            <label>
                <input name="bla" placeholder="Enter your message" type="text">
            </label>
            <button id="postButton">Send Message</button>
        </form>
    </div>
</section>

<!-- import necessary scripts for polling-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!--suppress HtmlUnknownTarget -->
<script src="/assets/js/eventPolling.js"></script>
</body>
</html>