<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>For all htmls: Header, Footer and scripts</title>
</head>
<body>

<!-- header -->
<header class="fixed-top" id="site-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a aria-current="page" class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/service_client}">Service Client</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- //header -->

<!-- fragment for scripts -->
<div th:fragment="scripts">

</div>
<!--// fragment for footer and scripts -->

</body>
</html>